html,
body {
    text-align: justify;

    font-family: CircularXXWeb, Trebuchet, Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input[type="number"] {
    font-size: 1em;
    margin: 1em;
    height: 4em;
    border-radius: 6px;
}
input[type="text"] {
    font-size: 1em;
    padding: 1em;
    border-radius: 6px;
}
.copy-icon {
    cursor: pointer;
    transition: 200ms ease-in-out;
}
.big-search-bar {
    border: solid;
    border-color: rgb(115, 115, 115);
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    border-radius: 2em;
}

#big-search-bar-input {
    width: 95%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.big-search-result {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    background-color: #94d3a2;
    color: white;
    margin: 1em;
    border-radius: 2em;
    height: 2.5em;
}
.big-search-result:hover {
    background-color: #298e46;
}
.input-bar {
    margin: 1em;
    border: solid;
    border-color: rgb(115, 115, 115);
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2em;
}

.input-bar > input {
    width: 60%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

label[for="cause-image"] {
    font-size: 1em;
    padding: 1em;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    background: rgb(213, 204, 210);
    margin: 1em;
}

textarea {
    font-size: 1em;
    margin: 1em;
    height: 15em;
    border-radius: 6px;
}

.cause {
    margin-left: 10%;
    margin-right: 10%;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-bottom: solid;
    border-width: meduim;
    border-color: rgb(115, 115, 115);
    height: 75px;
    transition: right 1s linear;
}
.dropdown-menu {
    font-size: 1.5em;
    width: 20%;
    height: 2em;
    overflow-y: visible;
    z-index: 5;
}
.dropdown-menu-button {
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.8em;
    font-size: larger;
    font-weight: bolder;
}

.dropdown-menu-button:hover {
    background-color: #298e46;
    color: white;
}

.menu-dropdown-items {
    padding: 0.1em;
    font-size: 0.75em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.menu-dropdown-item {
    cursor: pointer;
    font-size: large;
    color: white;
    background-color: #94d3a2;
    border: solid;
    border-width: thin;
    border-radius: 2em;
    margin-top: 1em;
    padding-top: 0.3em;
    padding-left: 0.3em;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.menu-dropdown-item:hover {
    background-color: #298e46;
    text-align: center;
}

.header-image {
    width: 50px;
    height: 50px;
}
.container {
    display: flex;
    flex-direction: column;
}
.body-and-donors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cause-body {
    padding: 1em;
    border-color: rgb(115, 115, 115);
    border-radius: 10px;
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    transition: right 1s linear;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.donor-list-and-share {
    border-width: thin;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    width: 35%;
    height: 800px;
    transition: left 1s linear;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.donor-list {
    height: 70%;
}
.share-module {
    font-size: bold;
    margin-top: 0;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 70px;
    border: solid;
    border-radius: 6px;
    border-color: rgb(115, 115, 115);
}
#share-text {
    font-size: 1.5em;
    color: rgb(2, 186, 35);
}

.cause-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.share-icon:hover {
    font-size: "2em";
    cursor: pointer;
}

.cause-img {
    border: solid;
    border-radius: 6px;
    border-width: thin;
    border-color: rgb(115, 115, 115);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    width: 100%;
    height: 400px;
}
img {
    width: 70%;
    height: 100%;
}
.cause-id {
    text-align: center;
}
.cause-owner {
    cursor: pointer;
    margin: 0.25em;
    background-color: rgb(166, 255, 182);
    padding: 1em;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.cause-description {
    margin-top: 0;
    margin-bottom: 1em;
    padding-top: 0.5em;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(115, 115, 115);
    font-size: 1em;
    text-align: left;
    transition: 100ms ease-in-out;
}
.read-more-button {
    height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(2, 186, 35);
    cursor: pointer;
}
.read-more-button-circle {
    border: solid;
    border-color: #298e46;
    border-radius: 50%;
    transition: 100ms ease-in-out;
}
.read-more-button-circle:hover {
    background-color: #298e46;
}
.progress {
    margin-top: 1.5em;
    margin-bottom: 1em;
    border-radius: 6px;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgb(115, 115, 115);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width: 90%;
}
.progress-bar {
    width: 90%;
}

.your-donation {
    border-bottom: solid;
    border-color: rgb(115, 115, 115);
    padding: 0.5em;
    margin: 0.5em;
}
.num-donations {
    border-bottom: solid;
    border-color: rgb(115, 115, 115);
    padding: 0.5em;
    margin: 0.5em;
}
.cause-owner-only {
    text-align: center;
    margin: 1em;
}
.cause-owner-name {
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(115, 115, 115);
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-bottom: 0.5em;
}
.cause-owner-actual-name {
    font-size: bolder;
    text-transform: capitalize;
}

.donation {
    height: 6em;
    display: flex;
    cursor: pointer;
    border: solid;
    border-color: rgb(115, 115, 115);
    border-radius: 6px;
    margin: 0.5em;
    padding: 1em;
    padding-left: 5px;
    font-size: 0.8em;
    transition: 100ms ease-in-out;
}

.donation:hover {
    background-color: rgb(2, 186, 35);
    color: white;
}
.refund:hover {
    background-color: #f00a1d;
    color: white;
}

.edit-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}
.edit-area {
    width: 100%;
}

button {
    cursor: pointer;
    background-color: #2ea44f;
    color: #fff;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    touch-action: manipulation;
    text-align: center;
    vertical-align: middle;
    border-color: rgb(115, 115, 115);
    padding: 1em;
    font-size: 1em;
    font-weight: 600;
    line-height: 20px;
    height: 3.5em;
    border-radius: 6px;
}
button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}
button:hover {
    background-color: #2c974b;
}
button:focus {
    box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
    outline: none;
}
button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, 0.1);
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
}

button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
.demand-refund-button {
    background: #e62143;
    font-size: 1.15em;
    transition: all 0.2s ease-in-out;
    text-decoration-skip-ink: auto;
    text-underline-offset: 1px;
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
}
.demand-refund-button:active,
.demand-refund-button:focus {
    border-bottom-style: none;
    border-color: #dadada;
    box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px inset;
    outline: 0;
}

.demand-refund-button:hover {
    border-bottom-style: none;
    border-color: #dadada;
}
.demand-refund-button:disabled {
    color: #e66c72;
}

button:disabled {
    cursor: not-allowed;
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, 0.1);
    color: rgba(255, 255, 255, 0.8);
}

.big-search {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.red-info {
    color: red;
}
.create-cause-form {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
.create-cause-form > input {
    height: 5em;
    width: 70%;
}

.create-cause-form > button {
    width: 70%;
    height: 5em;
}
.container-404 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    padding-left: 2em;
    padding-right: 2em;
}
.container-404 > img {
    margin: 1em;
    width: 40%;
    height: 40%;
}
.text-404 {
    margin: 1em;
    position: relative;
    left: 5%;
    text-align: center;
}

.causes-table {
    border: solid;
    border-width: thin;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin: 2em;
    transition: 1s linear;
}
.cause-table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #298e46;
    color: #dadada;
    height: 2em;
    font-size: 1.15em;
}

.cause-table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-width: thin;
    height: 2em;
    background-color: #dae2f0;
}
.cause-table-item {
    text-align: center;
    vertical-align: middle;
    width: 40%;
}

.cause-table-id-item {
    text-align: center;
    width: 10%;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.cause-table-address-item {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
#show-more-arrow {
    display: flex;
    justify-content: center;
}
.about-container {
    margin-left: 10%;
    margin-right: 10%;
}
.for-mobile {
    display: none;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .cause {
        margin-left: 2%;
        margin-right: 2%;
    }
    .body-and-donors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .donor-list-and-share {
        width: 100%;
    }
    .donor-list {
        height: auto;
    }
    .donor-list-and-share {
        height: auto;
    }
    .donation {
        background-color: rgb(2, 186, 35);
        color: white;
    }
    .refund {
        background-color: #f00a1d;
        color: white;
    }
    .header-image {
        display: none;
    }
    .cause-body {
        width: 100%;
        border-left: hidden;
        border-right: hidden;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0);
    }
    .cause-id {
        display: none;
    }
    .donate-module {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #eth-sign {
        visibility: hidden;
    }
    .big-search-bar {
        width: 90vw;
        font-size: x-small;
    }
    .create-cause-form {
        margin-top: 20%;
        margin-bottom: 20%;
        justify-content: space-between;
    }
    .container-404 {
        justify-content: center;
        align-items: center;
    }

    .container-404 > img {
        display: none;
    }
    .address-column {
        display: none;
    }
    .cause-table-row {
        height: 3em;
    }

    .menu-dropdown-item {
        width: 500px;
        font-size: x-small;
    }
    .for-mobile {
        display: block;
    }
    .for-pc {
        display: none;
    }
    .mobile-menu-icon {
        width: 60px;
        height: 50px;
        background-color: #298e46;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
