html,
body {
    text-align: justify;

    font-family: CircularXXWeb, Trebuchet, Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input[type="number"] {
    font-size: 1em;
    margin: 1em;
    height: 4em;
    border-radius: 2em;
}
input[type="text"] {
    font-size: 1em;
    padding: 1em;
    border-radius: 2em;
}
.copy-icon {
    cursor: pointer;
    transition: 200ms ease-in-out;
}
.big-search-bar {
    border: solid;
    border-color: rgb(115, 115, 115);
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    border-radius: 2em;
}

#big-search-bar-input {
    width: 95%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

label[for="cause-image"] {
    font-size: 1em;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    cursor: pointer;
    background: rgb(213, 204, 210);
    margin: 1em;
}

textarea {
    font-size: 1em;
    margin: 1em;
    height: 15em;
    border-radius: 1em;
}

.cause {
    margin-left: 10%;
    margin-right: 10%;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: solid;
    border-width: meduim;
    border-color: rgb(115, 115, 115);
}
.header-image {
    width: 50px;
    height: 50px;
}
.container {
    display: flex;
    flex-direction: column;
}
.body-and-donors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cause-body {
    padding: 1em;
    border-left: solid;
    border-right: solid;
    border-width: thin;
    border-color: rgb(115, 115, 115);
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.donor-list-and-share {
    border: solid;
    border-width: thin;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    width: 35%;
    height: 800px;
}
.donor-list {
    height: 70%;
}
.share-module {
    font-size: bold;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 70px;
    border: solid;
    border-radius: 2em;
    border-color: rgb(115, 115, 115);
}
#share-text {
    font-size: 1.5em;
    color: rgb(2, 186, 35);
}

.cause-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.share-icon:hover {
    font-size: "2em";
    cursor: pointer;
}

.cause-img {
    border: solid;
    border-radius: 1em;
    border-width: thin;
    border-color: rgb(115, 115, 115);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    width: 100%;
    height: 400px;
}
img {
    width: 70%;
    height: 100%;
}
.cause-id {
    text-align: center;
}
.cause-owner {
    cursor: pointer;
    margin: 0.25em;
    background-color: rgb(166, 255, 182);
    padding: 1em;
    border-radius: 2em;
    text-align: center;
}

.cause-description {
    margin-top: 0;
    margin-bottom: 1em;
    padding-top: 0.5em;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(115, 115, 115);
    font-size: 1em;
    text-align: left;
    transition: 200ms ease-in-out;
}
.read-more-button {
    text-decoration: underline;
    color: rgb(2, 186, 35);
    cursor: pointer;
}
.progress {
    margin-top: 1.5em;
    margin-bottom: 1em;
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-color: rgb(115, 115, 115);
    border-width: thin;
    width: 90%;
}
.progress-bar {
    width: 90%;
}

.your-donation {
    border-bottom: solid;
    border-color: rgb(115, 115, 115);
    padding: 0.5em;
    margin: 0.5em;
}
.num-donations {
    border-bottom: solid;
    border-color: rgb(115, 115, 115);
    padding: 0.5em;
    margin: 0.5em;
}
.cause-owner-only {
    text-align: center;
    margin: 1em;
}
.cause-owner-name {
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    border-bottom: solid;
    border-width: thin;
    border-color: rgb(115, 115, 115);
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-bottom: 0.5em;
}
.cause-owner-actual-name {
    font-size: bolder;
    text-transform: capitalize;
}

.donation {
    display: flex;
    cursor: pointer;
    border: solid;
    border-color: rgb(115, 115, 115);
    border-radius: 2em;
    margin: 0.5em;
    padding: 20px;
    padding-left: 5px;
    font-size: 0.8em;
    transition: 200ms ease-in-out;
}

.donation:hover {
    background-color: rgb(2, 186, 35);
    color: white;
}

.edit-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}
.edit-area {
    width: 100%;
}

button {
    cursor: pointer;
    background-color: white;
    color: rgb(2, 186, 35);
    border-color: rgb(115, 115, 115);
    padding: 1em;
    font-size: 1em;
    height: 3.5em;
    border-radius: 2em;
}

.big-search {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.red-info {
    color: red;
}
.create-cause-form {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
.create-cause-form > input {
    height: 5em;
    width: 70%;
}

.create-cause-form > button {
    width: 70%;
    height: 5em;
}
.container-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-404 > img {
    width: 50vw;
    height: 70vh;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
