html,
body {
    text-align: justify;

    font-family: CircularXXWeb, Trebuchet, Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input[type="number"] {
    font-size: 1em;
    margin: 1em;
    height: 4em;
    border-radius: 2em;
}

.cause {
    margin-left: 15%;
    margin-right: 15%;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: solid;
}
.container {
    display: flex;
}
.cause-body {
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.donor-list {
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    width: 40%;
    background-color: rgb(213, 204, 210);
}

.cause-name {
    text-align: center;
}

.cause-img {
    border-radius: 1em;
    margin: 1em;
    width: 100%;
    height: 30%;
}
img {
    width: 100%;
    height: 100%;
}
.cause-id {
    text-align: center;
}
.cause-owner {
    margin: 0.25em;
    background-color: rgb(213, 204, 210);
    padding: 1em;
    border-radius: 2em;
    text-align: center;
}
.cause-description {
    font-size: 1em;
    text-align: left;
}
.cause-donations {
    text-align: center;
}

.progress-bar {
    width: 100%;
}

.your-donation {
    border-bottom: solid;
    padding: 0.5em;
    margin: 0.5em;
}
.num-donations {
    border-bottom: solid;
    padding: 0.5em;
    margin: 0.5em;
}
.cause-owner-only {
    text-align: center;
}
button {
    padding: 1em;
    font-size: 1em;
    height: 4em;
    border-radius: 2em;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
